html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-color: #ccc;
  margin: 0;
}

img {
  width: 5rem;
  margin: .6rem;
  padding: 0;
}

h2 {
  padding: 1rem;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

section li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  width: 24rem;
}

section a {
  color: white;
  text-decoration: none;
  background-color: #444;
  padding: .5rem 1rem;
  margin: 1.5rem;
}
